body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
.font-logo {
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  color: rgb(204, 195, 218);
}

.word {
  width: 61px;
  height: 15px;
}
.des p {
  margin-left: 50px;
  margin-top: 70px;
}
.des1 {
  padding: 45px;
  margin-left: 25px;
}
.des1 p {
  color: rgb(186, 186, 186);
  font-size: 10px;
}
.des2 {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: nowrap;
  margin-right: 30px;
  align-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.des2 div {
  width: 30%;
  margin-left: 80px;
}
.des2 h3 {
  font-size: 20px;
  letter-spacing: -1px;
}
.des2 p {
  color: rgb(186, 186, 186);
  margin-bottom: 5px;
  font-size: 10px;
}
.des2_col2 {
  padding: 0px 60px;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-container {
  margin: 15px;
}
.containerNavbar {
  display: flex;
  margin: 15px;
  background-color: transparent;
  transition: background-color 0.5s ease;
}
.navbar-scrolled {
  background-color: rgb(46, 45, 45);
}
.left {
  margin: 15px;
}

.total-price {
  margin-top: 50px;
}

.left img {
  width: 400px;
  height: 500px;
  margin-right: 100px;
}

.cart ul li img {
  width: 400px;
  height: 500px;
  margin-right: 100px;
}

.cart li {
  display: flex;
  padding: 50px;
  margin-left: -100px;
}

.cart-container {
  display: flex;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: rgb(11, 11, 11);
  font: 20px/20px pingfang SC, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1",
    helvetica, arial, verdana, tahoma, sans-serif;
}

.navbar-nav .nav-link,
.navbar-brand,
.form-control,
.btn {
  color: white;
}
.navbar-nav .nav-link:hover {
  font-size: 22px;
  color: lightskyblue;
  transition: 0.5s;
}
.containerNavbar {
  width: 124px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.carousel-item {
  height: 600px;
  background-size: cover;
  background-position: center;
  line-height: 500px;
}
.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.iconlogin {
  margin-right: 40px;
  margin-left: 130px;
  width: 40px;
}
.containerNavbar-fluid {
  display: contents;
}
.card {
  background-color: rgb(11, 11, 11);
  color: #fff;
}
.bot {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bot p {
  font-size: 15px;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000; /* Black background */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 10px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.5s ease;
}

.dropdown-content a:hover {
  text-decoration: none;
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: none;
}
icon {
  cursor: pointer;
}

hr {
  color: #fff;
}

h3 {
  color: #fff;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-photo/3d-grunge-room-interior-with-spotlight-smoky-atmosphere-background_1048-11333.jpg");
}
.title {
  margin-top: 10px;
}

h2 a {
  display: flex;
  justify-content: flex-end;
}

.film-actions {
  display: none;
}

.film:hover {
  position: relative;
}

.film:hover .film-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.info-btn {
  border-color: #eae4e4;
}
.info-btn:hover {
  border-color: rgb(6, 236, 6);
  background-color: rgb(6, 236, 6);
}
.favorite-btn {
  border-color: #eae4e4;
}
.favorite-btn:hover {
  border-color: rgb(240, 34, 34);
  background-color: rgb(247, 37, 37);
}
