body {
  background-color: rgb(11, 11, 11);
  color: whitesmoke;
}

.box {
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar-nav {
  font-size: 25px;
  margin-left: 350px;
}

.card {
  height: 355px;
  width: 15rem;
  text-align: center;
  margin-top: 10px;
  border: 1px solid #212020;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: #212020;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}
.card-body {
  height: 200px;
  width: 200px;
  padding: 0.18rem;
}
.card-title {
  text-align: center;
  font-size: 1.2rem;
  margin-left: 30px;
  margin-top: 10px;
}
.collapse {
  font-size: 25px;
}
.modal_body {
  display: flex;
}
.film-card {
  display: contents;
}
/* Thêm CSS này vào file style của bạn */
.film-image {
  width: 400px; /* Chiều rộng cố định */
  height: 500px; /* Chiều cao cố định */
  object-fit: cover; /* Đảm bảo hình ảnh không bị méo khi thay đổi kích thước */
}
