body,
html {

  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
.all{
  background-color: rgb(7,7, 7);
}
.container {

  display: flex;
  height: 100%; 
}


.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 650px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin: 10px 0 10px 20px;
  border-radius: 8px;
  border-radius: 8px;
    box-sizing: border-box;
}




.side-bar ul {
    padding: 0;
    display: grid;
    justify-content: center;
    list-style-type: none;
    font-size: large;
    color:beige;
    margin: 0;
}
.side-bar ul li {
    margin: 10px;
    height: 27px;
    display: flex;
    align-items: center;
}

.side-bar ul li a {
    color: rgb(204, 202, 202);
    text-decoration: none;
    transition: transform 0.3s;
    font-family: sans-serif;
}
.side-bar ul li:hover {
    transform: scale(1.2);
}
.side-bar ul li a:hover {
    color: #f1718d;
}
.side-bar ul {
  padding: 0;
  display: grid;
  justify-content: center;
  font-size: large;
  list-style-type: none;
}
.side-bar ul li {
  margin: 10px;
}
.side-bar ul li a {
  color:#817d7c;
  text-decoration: none;
  transition: transform 0.3s;
}
.side-bar ul li:hover {
  transform: scale(1.2);
}
.side-bar ul li a:hover {
  color:rgb(114, 80, 87);
}
.body {
  
    flex-grow: 1;
    padding: 20px;
    margin-left: 280px ;

    display: grid;
    grid-template-rows: auto 1fr; 
  }
  
.body {
  grid-template-rows: auto 1fr; 
}


.nav-bar img {
    width: 100px;
    height: 60px;
}

.body .content {
  margin-top: 50px;
  background-color: rgb(7, 7, 7);
  color:rgb(132, 143, 143);
  display: grid;
  font-size: 70px;
}
.content h3 {
  
  border: 1px solid none;
  border-radius: 20px;
  background-color: rgb(7, 7, 7);
  margin: 10px 0 30px 0;
}
.space {
  height: 100px;
}
div.card-body {
    background-color: rgb(10, 10, 10);
    color:rgb(179, 170, 158);
}

.rounded-lg:hover {
  transform: scale(1.1); 
  transition: transform 0.3s; 
}


h5.card-title {
  text-align: center;
  font-size: medium;
}

i {
  padding-right: 3px;
  width: 18px;
  height: 18.67px;
  font-weight: 900;
}