body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: antiquewhite;
  background-color: #161616;
}

.container {
  display: flex;
  height: 100%;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
 
  width: 200px;
  background-color: #161616;
  padding: 20px;
  margin: 10px 0 10px 50px;
  border-radius: 8px;
}

.side-bar ul {
  padding: 0;
  list-style-type: none;
}

.side-bar ul li {
  margin: 10px;
}

.side-bar ul li a {
  color: #4c3933;
  text-decoration: none;
  transition: transform 0.3s;
}

.side-bar ul li:hover {
  color: #00f;
  transform: scale(1.2);
}

.side-bar ul li a:hover {
  color: crimson;
}

.body {
  flex-grow: 1;
  padding: 20px;
  margin-left: 280px;
  background-color: #161616;
  display: flex;
  flex-wrap: wrap;
}

.card-img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-img-top {
  width: 200px; 
  height: auto;
  margin: 0 20px; 
}
.card-body{
  margin: 0 20px;
}
.card.rounded-lg {
  margin-top: 40px; 
}

.card-img-top {
  width: 200px; 
  height: auto;
  margin: 0 20px; 
  border-radius: 20px;
}


/* Card */
.card.rounded-lg {
  margin-top: 40px;
  margin-left: 30px;
  background-color: #161616;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s; /* Hiệu ứng smooth */
}

.card.rounded-lg:hover {
  transform: translateY(5px); 
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); 
}