body,
html {
  background-color: rgb(12, 12, 12);
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100%; /* Thiết lập chiều cao 100% cho container */
}

.side-bar {
  position: fixed; /* Sử dụng fixed positioning */
  top: 0; /* Đặt phần tử ở đỉnh màn hình */
  left: 0; /* Đặt phần tử ở bên trái màn hình */
  height: 650px; /* Chiếm toàn bộ chiều cao của màn hình */
  width: 200px;
  background-color: rgb(149, 220, 240);
  padding: 20px;
  margin: 10px 0 10px 20px;
  border-radius: 8px;
}

.body {
  flex-grow: 1;
  padding: 20px;
  margin-left: 280px;
  background-color: #fff;
}
.side-bar ul {
  padding: 0;
  display: grid;
  justify-content: center;
  font-size: larger;
  list-style-type: none;
}
.side-bar ul li {
  margin: 10px;
}
.side-bar ul li a {
  color: black;
  text-decoration: none;
  transition: transform 0.3s;
}
.side-bar ul li:hover {
  color: #00f; /* Màu chữ khi rê chuột vào */
  transform: scale(1.2);
}
.side-bar ul li a:hover {
  color: crimson;
}

.body {
  grid-template-rows: auto 1fr; /* Chiếm hết phần còn lại của .body */
}

.body .nav-bar {
  border: 1px black solid;
  background-color: antiquewhite;
  height: 60px;
}

.body .content {
  margin-top: 50px;
  /* background-color: blanchedalmond; */

  font-size: 70px;
}
hr {
  color: black;
}
.card-body {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
p {
  width: 130px;
}
.admin-film {
  justify-content: space-between;
  display: flex;
  font-size: large;
}
img {
  height: 100px;
}
